/* root */
:root
{--accent-color: #2196F3;
--hover-btn-color: #188CE8;
--active-color: #757575;
--background-color: #FFFFFF;
--background-footer-color: #2F303A;
--text-header-color:#212121; 
--logo-header-color: black; 
--portfolio-btn-color: #F5F4FA;
}

.link{text-decoration: none;}

.list{list-style: none;}

/* Body */
body{
    background-color:var(--background-color);
    color: var(--active-color);
    font-family: Roboto, serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* Logo */
.logo{
    font-family: 'Raleway'; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color:var(--accent-color);
}
.logo-header {
    color:var(--logo-header-color);
}

/* Шапка сайта */

.site-nav .link{ 
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-header-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link.current{color:var(--accent-color)}

.header-contact{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--active-color);
    }
.header-contact:hover, .header-contact:focus, .header-contact:active {color: var(--accent-color);
    }

/* Hero */

.hero
{background-color: var(--background-footer-color);}

.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color);}

/* Hero-button */
.hero-button{
    font-family: inherit;
    cursor: pointer;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: var(--accent-color);

    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--background-color);
}
.hero-button:hover, .hero-button:focus{background: var(--hover-btn-color); 
}

/* Наши приемущества */

/* Hidden title */
.visually-hidden {border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;}

.advantages-title{
    font-size: 14px;
    Line height: 1.14;
    text-transform: uppercase;
    color: var(--text-header-color);}

.advantages-text{
    Line height: 1.7;
    }

/* Чем мы занимаемся */
.title{
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-header-color);

}

/* Наша команда */

.our-team{background-color:var(--portfolio-btn-color);}

.team-members{background-color: var(--background-color);
}

.name{font-weight: 500;
    font-size: 16px;
    line-height: 1.19x;
    text-align: center;
    color: var(--text-header-color);
}

.post{
    font-size: 16px;
    line-height: 1.19x;
    text-align: center;
    }

/* Footer studio*/
.footer{background-color: var(--background-footer-color);}
.logo-footer{color: var(--background-color);}


.footer-contact{
    line-height: 1.7;
    font-style: normal;
    color: var(--background-color);
    }
.footer-contact:hover{color: var(--accent-color)}

.contact{
    line-height: 1.7;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);
    }
.contact:hover{color:var(--accent-color)}


  /* Portfolio */
  
/* Кнопки фильтра */
.button-portfolio{
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    color: var(--text-header-color);
    background-color: var(--portfolio-btn-color);
    border-radius: 4px; 
    border-color: transparent;
    }
.button-portfolio:hover, .button-portfolio:focus
{ background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--background-color); 
    border: var(--accent-color);
}

/* Проекты */
.project{
    border: 1px solid #EEEEEE;
    box-sizing: border-box;}

.project-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-header-color);}
    
.project-text{
    font-size: 16px;
    line-height: 2;
    color: var(--active-color);}

